 * {
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

fieldset {
  margin: 2em auto;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
}

label{
  display: block;
  margin-top: 1em;
}

input[type="submit"] {
  padding: .5em 1em;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  margin: 1em 0;
}

/* Select drop down */

/* needed for mobile and fallback */
select {
  padding: .5em;
  border: solid 1px #999;
}

/* ------ Option 2: Custom CSS styles */
.custom-select {
  position: relative;
}

/* style the select element */
.select-css {
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #4aa4ab;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(183,237,241,1) 100%); 
}
/* add the downward pointing arrow. */
.custom-select:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f063";
  position: absolute;
  right: 10px;
  top: 20%;
  color: #069;
  pointer-events: none; /* without this the select icon is not 'clickable'. When we add this it enables you to "click through" the pseudo element as if it was not there. This is a fix for chrome and IE */
  display: inline-block;/* Also need this as a fix for IE, can use display: block; or display: inline-block;*/
}
.select-css::-ms-expand {
	display: none;
}

.select-css:focus {
	border-color: #38b5be;;
  box-shadow: 0 0 3px 1px #169ca6;
	color: #0f5156;
	outline: none;
}

/* === Option 3: Fancy Select === */
/* hide the default select element */
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
/* style the 'new' drop down element */
.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #fff;
	width: 90%;
	height: 38px;
}
/* 'new' drop down menu's text and this div will use the pseudo class of :after to insert the downward pointing arrow.*/
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #4aa4ab;;
	padding: 8px 10px;
}
/* downward pointing arrow - pure CSS solution (no font-awesome) */
.select-styled:after { /* downward pointing triangle */
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #fff transparent transparent transparent; /* changes square shape to triangle */
	position: absolute;
	top: 16px;
	right: 10px;
}

/* hover style, change bg to be slightly darker */
.select-styled:hover {
	background-color: #2a767c;
}
/* active style, we have a group selector since we are using JS to generate much of this code. */
.select-styled:active, .select-styled.active {
	background-color: #2a767c;
}

/* when the user clicks the select box the arrow will point up */
.select-styled:active:after, .select-styled.active:after { /* upward pointing triangle */
	top: 9px;
	border-color: transparent transparent #fff transparent; /* changes square shape to triangle */
}/* this is the ul element that is the select boxes option or sub items. This element is generated by JS */

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #2a767c;
}

/* style the li elements */
.select-options li {
	margin: 0;
	padding: 12px 0;
	text-indent: 15px;
	border-top: 1px solid #5ba5ab;
}

.select-options li:hover {
	color: #5ba5ab;
	background: #cbf1f4;
}
/* get rid of the first option since it is redundant */
.select-options li:first-child {
    display: none;
}


@media screen and (min-width: 430px) {
  legend {
    font-size: 1.75em;
  }

  fieldset {
    width: 40%;
    min-width: 320px;
  }

  .checks label {
    display: inline-block; 
    padding-top: .5em;
    margin-top: 0;
    margin-right: .5em;
  }
}


