
/* ===|> Custom Radio buttons === */

.form-group {  
	position: relative; 
}

#flight-book .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
}

/* --- CUSTOM RADIO BUTTONS --- */
/* hide the original radio buttons */
#form-section #trip-type input { 
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

#flight-book #trip-type label { 
	display: block;
  margin-bottom: .5em;
  position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

#flight-book #trip-type input+span { 
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

#flight-book #trip-type input+span:after { 
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	transform: translate(-50%, -50%);
	transition: 0.2s all;
}

#flight-book #trip-type input:not(:checked)+span:after {
	opacity: 0;
}

#flight-book #trip-type input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

@media screen and (min-width: 430px) {
  #flight-book #trip-type label { 
    display: inline-block;
    margin-bottom: 0;
  }
}


/* ===|> Custom Selections === */

/* hide the default select arrows and browser renderings */
#flight-book select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* remove default select arrows in FF*/
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

#flight-book select.form-control+.select-arrow { 
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: .875em;
}


/* ===|> Dates + date pickers === */

/* position and style the calendar icon */
i.fas.fa-calendar-alt {
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 1.4em;
  color: #dfe5e9;
  pointer-events: none;
}

input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

/* remove default select box hardware for safari */
select {
  -webkit-appearance: none;
}


/* ===|> Stepper component === */

button.plus, button.minus {
  border: solid 2px #dfe5e9;
  background-color: #fff;
  padding: .5em;
  cursor: pointer;
  height: 32px;
}

button.minus {
  border-right-style: none;
  border-radius: 6px 0 0 6px;
}

button.plus {
  border-left-style: none;
  border-radius: 0 6px 6px 0;
}

button.plus i, button.minus i {
  font-size: 1.05em;
  color: #4fa3e3;
}

button:focus {
  outline: none;
}

input.stepper-control {
  border: solid 2px #dfe5e9;
  height: 32px;
  width: 50px;
  padding: .5em;
  text-align: center;
  font-size: 1em;
}

label.stepper-label {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #98c9ee;
}

/* remove the default up/down arrows from webkit */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove the default up/down arrows from FF  */
input[type=number] {
  -moz-appearance:textfield;
}

/* fix for Safari, otherwise stepper component is not on 1 line */
.stepper {
  width: 110px;
}

#details  {
  display: block;
}

.form-group.select-num {
  display: inline-block;
  margin-right: 1em;
}

.travel-class {
  width: 48.5%;
}

@media screen and (min-width: 600px) {

  #booking {
    max-width: 850px;
  }

  #details {
    display: grid;
    grid-template-columns: 24.25% 24.25% 48.5%;
    grid-column-gap: 3%;
  }

  .travel-class {
    width: 95%;
  }
}

