
/* ===|> Custom Radio buttons === */

.form-group {  
	position: relative; 
}

#flight-book .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
}

/* --- CUSTOM RADIO BUTTONS --- */
/* hide the original radio buttons */
#form-section #trip-type input { 
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

#flight-book #trip-type label { 
	display: block;
  margin-bottom: .5em;
  position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

#flight-book #trip-type input+span { 
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

#flight-book #trip-type input+span:after { 
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	transform: translate(-50%, -50%);
	transition: 0.2s all;
}

#flight-book #trip-type input:not(:checked)+span:after {
	opacity: 0;
}

#flight-book #trip-type input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

@media screen and (min-width: 430px) {
  #flight-book #trip-type label { 
    display: inline-block;
    margin-bottom: 0;
  }
}


/* ===|> Custom Selections === */

/* hide the default select arrows and browser renderings */
#flight-book select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* remove default select arrows in FF*/
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

#flight-book select.form-control+.select-arrow { 
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: .875em;
}


/* ===|> Dates + date pickers === */

/* position and style the calendar icon */
i.fas.fa-calendar-alt {
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 1.4em;
  color: #dfe5e9;
  pointer-events: none;
}

input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

/* remove default select box hardware for safari */
select {
  -webkit-appearance: none;
}


/* ===|> Stepper component === */

button.plus, button.minus {
  border: solid 2px #dfe5e9;
  background-color: #fff;
  padding: .5em;
  cursor: pointer;
  height: 32px;
  position: absolute;
  height: 32px;
}

button.minus {
  border-right-style: none;
  border-radius: 6px 0 0 6px;
  left: 5px;
}

button.plus {
  border-left-style: none;
  border-radius: 0 6px 6px 0;
  right: 40px;
}

button.plus i, button.minus i {
  font-size: 1.05em;
  color: #4fa3e3;
}

button:focus {
  outline: none;
}

/* stepper input */
input.stepper-control {
  border: solid 2px #dfe5e9;
  height: 32px;
  width: 50px;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  position: absolute;
  left: 32px;
}

label.stepper-label {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #98c9ee;
}

/* remove the default up/down arrows from webkit */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove the default up/down arrows from FF  */
input[type=number] {
  -moz-appearance:textfield;
}

/* fix for Safari, otherwise stepper component is not on 1 line */
/* stepper wrapper, need to adjust width and set position for mobile */
.stepper {
  width: 110px;
  width: 150px; /* make a little wider */
  position: relative; /* need this so we can use absolute on children */
}

#details  {
  display: block;
}

/* adjustment for spacing and position for stepper elements on mobile */
.form-group.select-num {
  display: inline-block;
  margin-right: 1em;
  width: 40%;
}

/* adjustment for position and spacing on travel class element on mobile */
.travel-class {
  width: 48.5%;
  width: 100%;
  margin-top: 2.5em; /* on small screen need more spacing between this and steppers */
}

/* make sure that the label appears in front */
#flight-book .form-label {
  z-index: 10;
}

/* fix for double top border on mobile */
#flight-book .form-control, #flight-book .stepper-control {
  background-clip: padding-box;
}

/* remove browsers default styles (gradient bg) for date inputs and make it 'invis' so we can custom style it */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  border:1px solid #222222;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
  position: relative; /* need to position relative so I can position the date info*/
}

/* custom focus style */
input:focus, select:focus {
  outline: solid 2px #3dc2dc;
  outline: none;
  border: 0;
  box-shadow: 0 0 5px #3dc2dc;
  border-radius: 4px;
}

/* style the date input elements, need to remove browsers defaults and add custom so this works the same on mobile */
#flight-book .form-control:[type="date"] {
  width: 100%;
	min-width: 230px;
}

@media screen and (min-width: 430px) {

  #flight-book .form-control:[type="date"] {
    min-width: 100%;
  }

}

@media screen and (min-width: 600px) {

  body {
    height: 100vh;
  }
    
  /* bring travel class item up so it aligns with passengers, adjust width */
  .travel-class {
    margin-top: 0;
    width: 89%;
  }
  
  /* adjust spacing of passengers and travel class at large screen */
  #details {
    display: grid;
    grid-template-columns: 23% 24.5% 54.5%;
    grid-column-gap: 2%;
  }
  
  /* ensure that passenger fields appear on 1 line at large screen */
  .form-group.select-num {
    width: 100%;
  }

  #booking {
    max-width: 850px;
  }
}

